model-viewer {
    width:              100%;
    height:             calc(540 * var(--px));
    border-radius:      12px;
    border:             1px solid rgba(0, 0, 0, 0);

    transition:         all 0.6s ease;
    opacity:            100%;
    will-change:        opacity;
    transform:          translateZ(0);

    background-color:   transparent;
    box-shadow:         none;
    /* background-color:   #151515; */
    /* box-shadow:         -1px 1px 4px rgba(255, 255, 255, 0.1),
                        1px -1px 4px rgba(0, 0, 0, 0.75),
                        inset 0px 0px 4px rgba(0, 0, 0, 0.75),
                        inset 0 0 40px rgba(0, 0, 0, 0.75); */
}

model-viewer::part(default-progress-bar) {
    /* justify-content:    center; */
    top:                auto !important;
    bottom:             2px !important;
    left:               15%;
    right:              auto;

    background:         linear-gradient(90deg, rgba(0, 190, 255, 0.05) 25%, rgba(0, 190, 255, 0.2) 50%, rgba(0, 190, 255, 0.2) 75%, rgba(0, 190, 255, 1) 100%);

    width:              70%;
    height:             1px !important;

    visibility:         visible !important;
}

.disable-progress-bar::part(default-progress-bar) {
    display:            none !important;
}

model-viewer:fullscreen {
    width:              100vw;
    height:             100vh;
    background-color:   #1a1a1a;
}

model-viewer:-webkit-full-screen {
    width:              100%;
    height:             100%;
}

#logo-viewer {
    width:              calc((150 * var(--R) + 220 * (1 - var(--R))) * 1px);
    height:             calc((150 * var(--R) + 220 * (1 - var(--R))) * 1px);
    background:         transparent !important;
    box-shadow:         none !important;
}

.development-viewer,
.menu-viewer {
    width:              98% !important;
    height:             calc(480 * var(--px)) !important;

    /* max-width:          calc(700 * var(--px)); */
    /* box-shadow:         none; */
    /* background-color:   transparent; */
    /* padding:            10px; */

    opacity:            20%;
}

.reveal-viewer {
    opacity:            100% !important;
}

.portfolio-viewer {
    /* filter:             brightness(1.1) contrast(1.1) saturate(0.9); */
    opacity:            20%;
}

.viewer-deadzone {
    position:           absolute;
    left:               0;
    right:              0;
    top:                0;
    bottom:             0;
    z-index:            5;
    pointer-events:     auto; 
    /* background:         rgba(0, 0, 0, 0.2); */
    background:         transparent;
}

.deadzone-top {
    bottom:             auto;
    height:             calc((0 * var(--R) + 15 * (1 - var(--R))) * 1%);
}

.deadzone-bottom {
    top:                auto;
    height:             calc((0 * var(--R) + 15 * (1 - var(--R))) * 1%);
}

.deadzone-left {
    right:              auto;
    width:              calc((0 * var(--R) + 15 * (1 - var(--R))) * 1%);
}

.deadzone-right {
    left:               auto;
    width:              calc((0 * var(--R) + 15 * (1 - var(--R))) * 1%);
}

.zoom-controls {
    position:           absolute;
    display:            flex;
    flex-direction:     column;
    gap:                calc((6 * var(--R) + 9 * (1 - var(--R))) * 1px);
}

.zoom-button-in,
.zoom-button-out,
.fullscreen-button,
.fullscreen-button-right,
.photo-button,
.reset-button,
.nav-button {
    position:           absolute;
    z-index:            100;
    display:            flex;
    padding:            0;
    line-height:        0;
    align-items:        center;
    justify-content:    center;
    box-sizing:         border-box;

    height:             calc((44 * var(--R) + 80 * (1 - var(--R))) * 1px);
    min-width:          calc((44 * var(--R) + 80 * (1 - var(--R))) * 1px);

    background:         rgba(127, 127, 127, 0.1);
    color:              rgba(0, 190, 255, 1);
    border:             1px solid rgba(0, 170, 255, 0.5);
    border-radius:      calc((6 * var(--R) + 12 * (1 - var(--R))) * 1px);

    --box-shadow-parameters: calc((2 * var(--R) + 4 * (1 - var(--R))) * 1px);
    box-shadow:         inset -1px 1px var(--box-shadow-parameters) rgba(255, 255, 255, 0.1),
                        inset 1px -1px var(--box-shadow-parameters) rgba(0, 0, 0, 0.5);

    cursor:             pointer;
    transition:         background 0.2s;
    -webkit-tap-highlight-color: transparent;
}
.zoom-button-in {
    position:           relative;
}
.zoom-button-out {
    position:           relative;
}
.nav-button {
    top:                2%;
}

.top-right {
    top:                2%;
    bottom:             auto;
    left:               auto;
    right:              2%;
}
.top-left {
    top:                2%;
    bottom:             auto;
    left:               2%;
    right:              auto;
}
.bottom-right {
    top:                auto;
    bottom:             2%;
    left:               auto;
    right:              2%;
}
.bottom-left {
    top:                auto;
    bottom:             2%;
    left:               2%;
    right:              auto;
}


@media screen and (max-width: 1024px) {
    model-viewer:fullscreen .zoom-button-in,
    model-viewer:fullscreen .zoom-button-out,
    model-viewer:fullscreen .fullscreen-button,
    model-viewer:fullscreen .fullscreen-button-right,
    model-viewer:fullscreen .photo-button,
    model-viewer:fullscreen .reset-button,
    model-viewer:fullscreen .nav-button {
        font-size:      20px !important;
        height:         44px !important;
        min-width:      44px !important;
        border-radius:  6px !important;

        box-shadow:     inset -1px 1px 2px rgba(255, 255, 255, 0.1),
                        inset 1px -1px 2px rgba(0, 0, 0, 0.5);
    }

    model-viewer:-webkit-full-screen .zoom-button-in,
    model-viewer:-webkit-full-screen .zoom-button-out,
    model-viewer:-webkit-full-screen .fullscreen-button,
    model-viewer:-webkit-full-screen .fullscreen-button-right,
    model-viewer:-webkit-full-screen .photo-button,
    model-viewer:-webkit-full-screen .reset-button,
    model-viewer:-webkit-full-screen .nav-button {
        height:         44px !important;
        min-width:      44px !important;
        border-radius:  6px !important;
    }

    .zoom-controls {
        visibility:     hidden;
    }

    .photo-button {
        visibility:     hidden;
    }
}

@media (hover : hover) {
    .zoom-button-in:hover,
    .zoom-button-out:hover,
    .fullscreen-button:hover,
    .fullscreen-button-right:hover,
    .photo-button:hover,
    .reset-button:hover,
    .nav-button:hover,
    #backToTopButton:hover {
        border-color:       rgba(0, 190, 255, 1);
    }

    .thumb-item:hover {
        cursor:             pointer;
        border-color:       rgba(0, 190, 255, 1);
        transform:          translateY(-2px);
        filter:             brightness(1) saturate(1.2) opacity(1);
    }

    .thumb-item.active:hover {
        border:             2px solid #333;
        cursor:             initial;
        transform:          none;
    }
}

.zoom-button-in:active,
.zoom-button-out:active,
.fullscreen-button:active,
.fullscreen-button-right:active,
.photo-button:active,
.reset-button:active,
.nav-button:active {
    transform:          scale(0.95);
    border-color:       rgba(0, 190, 255, 1);
}

.viewer-nav-controls {
    position:           absolute;
    top:                auto;
    bottom:             2%;
    left:               0;
    right:              0;
    z-index:            110;

    display:            flex;
    justify-content:    center;
    align-items:        center;
    gap:                10px;

    visibility:         hidden;
    pointer-events:     none;
}

model-viewer:fullscreen .viewer-nav-controls {
    visibility:         visible !important;
}

model-viewer:-webkit-full-screen .viewer-nav-controls {
    visibility:         visible !important;
}

.nav-button, .variant-counter {
    position:           relative;
    top:                auto;
    left:               0;
    right:              0;

    font-size:          calc((1.5 * var(--R) + 2.2 * (1 - var(--R))) * 1rem);

    pointer-events:     auto;
    transform:          none;
}

.variant-counter {
    min-width:          40px;
    text-align:         center;
    color:              white;
    padding:            10px 10px 10px 10px;
    border-radius:      4px;
    font-size:          14px;
    background-color:   rgba(0, 0, 0, 0.2);;
    box-shadow:         inset 1px -1px 2px rgba(255, 255, 255, 0.1),
                        inset -1px 1px 2px rgba(0, 0, 0, 0.5);
}

.variant-thumbnails {
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    center;
    gap:                calc(6 * var(--px));

    width:              100%;
    /* max-width:          98%; */
    /* margin:             0 auto; */
    padding-top:        calc(20 * var(--px));
    padding-bottom:     calc(10 * var(--px));

    opacity:            100%;
    pointer-events:     none;
    will-change:        opacity;
    transform:          translateZ(0);
    transition:         all 0.8s ease;
}

.thumb-item {
    width:              calc((80 * var(--R) + 120 * (1 - var(--R))) * 1px);
    height:             calc((80 * var(--R) + 120 * (1 - var(--R))) * 1px);
    padding:            10px;
    margin:             0 0px;
    object-fit:         contain;

    border:             2px solid #111;
    border-radius:      6px;
    background:         #1a1a1a;
    opacity:            100%;
    filter:             brightness(1) saturate(1) opacity(1);
    box-shadow:         0 4px 15px rgba(0, 0, 0, 0.4),
                        inset -2px 2px 4px rgba(255, 255, 255, 0.1),
                        inset 2px -2px 4px rgba(0, 0, 0, 0.5);

    cursor:             initial;
    pointer-events:     auto;
    transition:         all 0.2s ease;
}

.thumb-item.active {
    border:             2px solid #111;
    filter:             brightness(0.5) saturate(1.5) opacity(0.75);
    box-shadow:         inset 2px -2px 2px rgba(255, 255, 255, 0.1),
                        inset -2px 2px 2px rgba(0, 0, 0, 0.75) !important;
}
