:root {
    --resolution-threshold: clamp(0, (100vw - 1024px) / 1px * 1000, 1);
    --R:                clamp(0, (100vw - 1024px) / 1px * 1000, 1);

    --Res:              calc(1.5 - 0.5 * clamp(0, (100vw - 1024px) / 1px * 1000, 1));
    --px:               calc(var(--Res) * 1px);
    --rem:              calc(var(--Res) * 1rem);

}

body {
    padding:            0;
    margin:             0;
    background-color:   #121212;
    font-family:        'Roboto', sans-serif;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

button, input, select, textarea {
    font-family:        inherit;
}

.padding-top-10 { padding-top: calc(10 * var(--px)) !important; }
.padding-top-20 { padding-top: calc(20 * var(--px)) !important; }
.padding-top-30 { padding-top: calc(30 * var(--px)) !important; }

.padding-bottom-6  { padding-bottom: calc(6  * var(--px)) !important; }
.padding-bottom-10 { padding-bottom: calc(10 * var(--px)) !important; }
.padding-bottom-20 { padding-bottom: calc(20 * var(--px)) !important; }
.padding-bottom-30 { padding-bottom: calc(30 * var(--px)) !important; }

.margin-top-10 { margin-top: calc(10 * var(--px)) !important; }
.margin-top-20 { margin-top: calc(20 * var(--px)) !important; }
.margin-top-30 { margin-top: calc(30 * var(--px)) !important; }

.margin-bottom-10 { margin-bottom: calc(10 * var(--px)) !important; }
.margin-bottom-20 { margin-bottom: calc(20 * var(--px)) !important; }
.margin-bottom-30 { margin-bottom: calc(30 * var(--px)) !important; }

.margin-left-4  { margin-left: calc(4  * var(--px)) !important; }
.margin-left-10 { margin-left: calc(10 * var(--px)) !important; }
.margin-left-20 { margin-left: calc(20 * var(--px)) !important; }
.margin-left-30 { margin-left: calc(30 * var(--px)) !important; }

.top-bar-container,
.main-container {
    display:            flex;
    flex-direction:     column;
    align-items:        center;

    justify-self:       center;
    gap:                calc(20 * var(--px));

    width:              calc(100% - 20 * var(--px));
    max-width:          1000px;
    margin:             0 auto;
    padding:            calc(10 * var(--px));
    padding-top:        calc(60 * var(--px));

    text-decoration:    none;
    overflow:           visible;
    background:         #121212;
    perspective:        2048;
}

.model-card,
.specs-card,
.top-bar-card {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    overflow:           visible;

    position:           relative;
    padding:            calc(10 * var(--px));
    padding-bottom:     calc(30 * var(--px));
    width:              calc(100% - 20 * var(--px));
    max-width:          1000px;

    background:         #1e1e1e;
    border:             1px solid rgba(0, 150, 255, 0.2);
    border-radius:      calc(12 * var(--px));
    text-decoration:    none;
}

.home-title {
    font-size:          calc(1.5 * var(--rem));
    font-weight:        bold;
    color:              rgba(0, 190, 255, 1);
}

.home-subtitle {
    padding:            calc(6 * var(--px));
    font-size:          calc(1.0 * var(--rem));
    font-weight:        bold;
    color:              #aaa;
}

.home-location {
    display:            inline-flex;
    flex-direction:     row;
    align-items:        center;
    align-content:      center;
    text-align:         center;
    color:              rgba(0, 190, 255, 1);
    font-weight:        bold;
    font-size:          calc(0.8 * var(--rem));
    padding-top:        calc(4 * var(--px));

}

.home-divider {
    display:            flex;
    justify-self:       center;   
    margin:             calc(20 * var(--px));
    background-color:   rgba(255, 255, 255, 0.1);
    height:             1px;
    width:              30%;
    border:             none;
}

.curriculum-divider {
    display:            flex;
    justify-self:       center;   
    background-color:   rgba(255, 255, 255, 0.1);
    height:             1px;
    width:              100%;
    box-sizing:         border-box;
    border:             none;
    padding:            0px;
    margin:             calc(10 * var(--px)) 0px;
}

.full-width {
    width:              100% !important;
    box-sizing:         border-box;
}


.card-separator,
.card-title {
    display:            flex;
    align-items:        center;
    text-align:         center;

    width:              calc(100% + 20 * var(--px));
    padding:            calc(10 * var(--px));

    color:              #ddd; 
    font-size:          calc(1.3 * var(--rem));
    font-weight:        bold;
    text-transform:     uppercase;
    letter-spacing:     calc(1 * var(--px));
}
.card-separator::before,
.card-separator::after,
.card-title::before,
.card-title::after {
    content:            "";
    flex:               1;
    height:             1px;
    background:         rgba(0, 150, 255, 0.2);
}
.card-separator::before,
.card-title::before {
    margin-right:       calc(20 * var(--px));
}
.card-separator::after,
.card-title::after {
    margin-left:        calc(20 * var(--px));
}
.card-separator {
    padding-top:        calc(30 * var(--px));
    font-size:          calc(0.7 * var(--rem));
    letter-spacing:     calc(0.5 * var(--px)); 
}
.card-separator::before {
    flex:               1;
}
.card-separator::after {
    flex:               99;
}

.card-content {
    color:              #999;
    text-align:         justify;
    font-size:          calc(0.9 * var(--rem));
    text-indent:        calc(40 * var(--px));
    line-height:        calc(1.5 * var(--rem));
    padding:            calc(10 * var(--px))
                        calc(20 * var(--px));
}
.card-content b {
    color:              #aaa;
}

.home-card-content {
    color:              #999;
    text-align:         justify;
    font-size:          calc(0.9 * var(--rem));
    text-indent:        calc(40 * var(--px));
    line-height:        calc(1.5 * var(--rem));
    padding:            0px calc(40 * var(--px));
}
.home-card-content b {
    color:              #aaa;
}

.card-title-home {
    display:            flex;
    align-items:        center;
    justify-self:       center;
    padding:            0;
    margin:             calc(20 * var(--px)) 0 calc(10 * var(--px));
    gap:                calc(15 * var(--px));

    color:              rgba(0, 190, 255, 1);
    font-size:          calc(1.3 * var(--rem));
    font-weight:        bold;

    will-change:        transform;
    transition:         all 0.8s ease;
}

.card-footer-home {
    display:            flex;
    align-items:        center;
    gap:                calc(6 * var(--px));
    margin:             calc(20 * var(--px)) 0 calc(30 * var(--px));

    color:              #999;
    font-size:          calc(13 * var(--px));
    font-weight:        bold;
    text-transform:     uppercase;
    text-align:         center;

    cursor:             pointer;
    will-change:        transform;
    transition:         all 0.8s ease;
}

.footer-container {
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    margin-top:         calc(30 * var(--Res) * 1px); 
    height:             350px;
}

.footer-title {
    font-weight:        bold;
    font-size:          calc(18 * var(--Res) * 1px); 
    letter-spacing:     calc(0.5 * var(--Res) * 1px); 
    color:              rgba(0, 190, 255, 1);
    padding:            calc(6 * var(--Res) * 1px); 
    margin:             0px;
}

.footer-subtitle {
    font-weight:        bold;
    font-size:          calc(12 * var(--Res) * 1px); 
    letter-spacing:     auto; 
    color:              #999;
    padding:            0px; 
    margin:             0px;
}

.footer-contact {
    font-weight:        bold;
    font-size:          calc(14 * var(--Res) * 1px); 
    color:              rgba(0, 190, 255, 0.85);
    padding:            calc(30 * var(--Res) * 1px); 
    margin:             0px;
    letter-spacing:     calc(1 * var(--Res) * 1px);
    cursor:             pointer;
    transition:         all 0.2s ease;
}

.footer-contact:hover {
    color:              rgba(0, 190, 255, 1);
    transform:          scale(1.05);
}

.footer-contact:active {
    transform: scale(0.98);
}

.footer-logo {
    display:            flex;
    margin:             10px;
    width:              calc(66 * var(--Res) * 1px);
    height:             calc(66 * var(--Res) * 1px);

    -webkit-mask:       url('/resources/media/logo.svg') no-repeat center;
    -webkit-mask-size:  contain;
    mask:               url('/resources/media/logo.svg') no-repeat center;
    mask-size:          contain;

    opacity:            85%;
    background-color:   rgba(0, 190, 255, 1);
}

.footer-logo:hover {
    opacity:            100%;
    transform:          scale(1.05);
    transition:         all 0.2s ease;
}

.main-link {
    color:              rgba(0, 190, 255, 1);
    text-decoration:    none;
}

.main-link::after {
    content:            "";
    position:           absolute;
    top:                0;
    left:               0;
    right:              0;
    bottom:             0;
    z-index:            -1;
}

.no-hover-transition, 
.no-hover-transition:hover {
    opacity:            inherit !important;
    transition:         none !important;
    transform:          none !important;
}

.curriculum-dropdown {
    width:              100%;
    box-sizing:         border-box;
    padding:            calc(10 * var(--px))
                        calc(10 * var(--px))
                        calc(10 * var(--px));
}
.curriculum-dropdown summary {
    display:            inline-flex;
    flex-direction:     row;
    flex-wrap:          nowrap;
    align-items:        center;
    justify-content:    center;

    width:              100%;
    box-sizing:         border-box;
    padding:            calc(6 * var(--px))
                        calc(10 * var(--px));

    cursor:             pointer;
    color:              rgba(0, 190, 255, 1);
    background:         #2a2a2a;
    border:             1px solid #444;
    border-radius:      calc(6 * var(--px));

    transition:         all 0.2s ease;
}
.curriculum-dropdown summary::marker {
    content:            "";
}
.curriculum-dropdown[open] .menu-chevron {
    transform:          rotate(180deg);
}

.curriculum-title {
    font-size:          calc(0.9 * var(--rem));
    font-weight:        bolder;
    text-transform:     uppercase;
    text-align:         center;
    margin:             0px
                        auto
                        0px
                        calc(10 * var(--px));
}

.curriculum-list {
    list-style:         none;
    padding:            0;
    margin:             calc(20 * var(--px));
    text-align:         justify;
    font-size:          calc(0.9 * var(--rem));
}

.curriculum-list li {
    position:           relative;
    padding-left:       calc(30 * var(--px));
    margin-bottom:      10px;
    line-height:        1.7;
    color:              #999;

    display:            flex;
    flex-direction:     column;
}

.curriculum-list li::before {
    content:            "❱";
    position:           absolute;
    left:               0;
    color:              #aaa;
}

.skills-content {
    padding-bottom:     calc(6 * var(--px));
}

.skills-content b {
    color:              #aaa;
}

.skills-title {
    color:              rgba(0, 190, 255, 1);
    font-weight:        bold;
    text-transform:     uppercase;
    padding-right:      calc(6 * var(--px));

    display:            inline-block;
    text-align:         left;
}

.uppercase {
    text-transform:     uppercase;
}

.skills-subtitle b {
    color:              #ccc;
}

.skills-subtext {
    display:            inline;
    color:              #777;
    font-size:          calc(0.8 * var(--rem)); 
    letter-spacing:     calc(0.5 * var(--px)); 
    line-height:        calc(20 * var(--px)); 
}

.experience-box {
    width:              calc(100% + 20 * var(--px));
    box-sizing:         border-box;
    margin:             calc(10 * var(--px))
                        calc(-20 * var(--px));
    padding:            calc(0 * var(--px))
                        calc(20 * var(--px));
    border-radius:      calc(12 * var(--px)); 
}

.experience-box-item {
    display:            flex; 
    flex-direction:     row; 
    align-items:        center;
    margin:             0px
                        calc(-20 * var(--px));
    padding:            calc(6 * var(--px))
                        calc(20 * var(--px))
                        calc(6 * var(--px))
                        calc(40 * var(--px));
}

.experience-box-item b{
    color:              #aaa;
}

.experience-list {
    font-size:          calc(0.9 * var(--rem));
    padding:            calc(10 * var(--px)) 0px;
    margin-left:        0px;
    margin-right:       0px;
}

.experience-box-item::before {
    content:            "·";
    position:           absolute;
    left:               calc(30 * var(--px));
    font-weight:        bold;
    color:              #999;
}

.experience-list b {
    color:              #aaa;
}

.sub-text {
    font-size: 0.9rem;
    opacity: 1;
}

.portfolio-link {
    transition:         all 0.2s ease;
    border:             1px solid #000;
    /* border:             1px solid rgba(0, 170, 255, 0.5); */
    padding:            calc(10 * var(--px));
    box-shadow:         inset 4px -4px 12px rgba(0, 0, 0, 0.5),
                        inset -4px 4px 12px rgba(255, 255, 255, 0.1) !important;
}

.portfolio-link:active {
    border-color:       rgba(0, 190, 255, 1);
    box-shadow:         0 4px 15px rgba(0, 0, 0, 0.4),
                        inset -4px 4px 12px rgba(0, 0, 0, 0.5),
                        inset 4px -4px 12px rgba(255, 255, 255, 0.1) !important;
}

.download-button {
    position:           relative !important;
    margin-top:         calc(40 * var(--px)) !important;
    font-size:          calc(0.7 * var(--rem)) !important;
    text-decoration:    none;
}


@media (hover : hover) {
    .curriculum-dropdown summary:hover {
        background:     #333;
        border-color:   rgba(0, 190, 255, 1);
        color:          rgba(0, 190, 255, 1);
    }

    .portfolio-link:hover {
        border-color:   rgba(0, 190, 255, 1);
        transition:         all 0.6s ease !important;
        transition-delay:   200ms !important;
    }

    .portfolio-link.parent-hover-effect:hover {
        border-color:   rgba(0, 150, 255, 0.2);
        transition:         all 0.8s ease !important;
        transition-delay:   0ms !important;
    }

    .portfolio-link:hover .card-footer-home {
        will-change:        transform;
        color:              rgba(0, 190, 255, 1);
        transform:          scale(1.1) translateZ(0);
        transition:         all 0.6s ease !important;
        transition-delay:   200ms !important;
    }

    .portfolio-link:hover .card-footer-home .arrow {
        background-color:   rgba(0, 190, 255, 1);
        transition:         all 0.6s ease !important;
        transition-delay:   200ms !important;
    }

    .portfolio-link.parent-hover-effect:hover .card-footer-home .arrow {
        background-color:   #999;
        transition:         all 0.8s ease !important;
        transition-delay:   0ms !important;
    }

    .portfolio-link:hover .card-title-home {
        will-change:        transform;
        transform:          scale(1.1) translateZ(0);
        transition:         all 0.6s ease !important;
        transition-delay:   200ms !important;
    }

    .portfolio-link.parent-hover-effect:hover .card-title-home {
        will-change:        transform;
        transform:          scale(1) translateZ(0) !important;
        transition:         all 0.8s ease !important;
        transition-delay:   0ms !important;
    }

    .portfolio-link.parent-hover-effect:hover .card-footer-home {
        will-change:        transform;
        color:              #999 !important;
        transform:          scale(1) translateZ(0) !important;
        transition:         all 0.8s ease !important;
        transition-delay:   0ms !important;
    }
}

